<h1>Editing Game</h1>

<%= render 'form', game: @game %>
<div class="actions">
  <%= button_to 'Delete Game', @game, method: :delete %>
</div>

<%= link_to 'Show', @game %> |
<%= link_to 'Back', games_path %>
