<h1>Game Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release date</th>
      <th>Players</th>
      <th>Price</th>
      <th>Units Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @games %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
