<div class="row">
  <div class="col-md-12 align-center shopping-cart">
    <div class="well">
      <h2>Your Cart</h2>
      <table>
        <%= render (cart.cart_games) %>
        <tr>
          <td colspan="3" class="align-right">Total</td>
          <td colspan="1"><%= number_to_currency(total_price(cart.cart_games), :unit => "£") %></td>
          <td></td>
        </tr>
      </table>
      <%= button_to "Empty cart", @cart, method: :delete, class: "btn-danger" %>
      <%= button_to "Proceed to Checkout", new_order_path, method: :get,
        class: "btn-success" %>
    </div>
  </div>
</div>
