@import 'colors';

body {
  background-color: $light-blue;
}

h2{
  margin: 10px;
}

p {
  margin: 0;
}

label {
  display: block;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: $dark-gray;
  &:hover {
    text-decoration: none;
    color: $deep-blue;
  }
}

.container-fluid {
  padding: 0;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

#error_explanation {
  h2{
    font-size: 2rem;
  }
  li {
    color: $dark-red;
  }
}