@import 'colors';

body {
  background-color: $light-blue;
}

h2{
  margin: 10px;
}

p {
  margin: 0;
}

label {
  display: block;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: $dark-gray;
  &:hover {
    text-decoration: none;
    color: $deep-blue;
  }
}

.container-fluid {
  padding: 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

#error_explanation {
  h2{
    font-size: 2rem;
  }
  li {
    color: $dark-red;
  }
}

.btn-success {
  background-color: $green;
  border: 2px solid $dark-green;
}

.btn-danger {
  border: 2px solid $dark-red;
}

.btn-delete {
  font-size: 1.2rem;
  padding: 1px 4px;
  border-radius: 50%;
}

.well {
  display: inline-block;
}