@import 'base';

.carts {
  .shopping-cart {
    margin: 6rem 0;
  }
  .well {
    width: 350px;
    background-color: $medium-blue;
    border: 1px solid $white;
    display: inline-block;
    font-size: 1.5rem;
    h2 {
      font-size: 2.2rem;
    }
    td {
      padding: 10px 5px 10px 10px;
    }
    form {
      padding: 10px 0;
      display: inline-block;
    }
    table {
      position: relative;
      left: 50px;
    }
  }
}