$black: #000000;
$white: #FDFDFD;
$dark-gray: #333333;
$medium-gray: #ADADAD;
$light-gray: #C1C1C1;
$deep-blue: #1BB3F5;
$darkest-blue: #134062;
$dark-blue: #206BA4;
$medium-blue: #BBD9EE;
$light-blue: #EBF4FA;
$dark-red: #82312F;
$dark-green: #336033;
$green: #5C955C;
