@import 'base';

header {
  background-color: $gray;
  .logo {
    letter-spacing: 6px;
    padding: 10px;
    line-height: 50px;
    color: $white;
    font: {
      size: 3rem;
      family: 'Russo One', sans-serif;
    }
    a {
      color: $white;
    }
  }
  nav {
    padding: 10px;
    letter-spacing: 0.5px;
    font : {
      size: 1.6rem;
    }
    position: relative;
    top: 3px;
    ul {
      text-align: right;
      li {
        padding: 0 15px 0 8px;
        display: inline-block;
        &:not(:last-child) {
          border-right: 1px solid white;
        }
        a {
          color: $white;
        }
      }
    }
  }
}

.notices {
  text-align: center;
  font: {
    size: 2rem;
  }
  letter-spacing: 1px;
  background-color: #BBD9EE;
}