@import 'base';

.store {
  // background-image: url(asset_path('/assets/retro_wallpaper'));
  .search {
    background-color: $dark-gray;
    height: 57px;
    text-align: center;
    color: $white;
    margin-bottom: 10px;
    // border-top: 1px solid $white;
    label {
      letter-spacing: 1px;
    }
    input {
      color: $dark-gray;
    }
    label, input {
      display: inline-block;
      font-size: 1.8rem;
      position: relative;
      top: 12px;
    }
    .btn-primary {
      background-color: $light-gray;
      border: 1px solid $medium-gray;
    }
  }
  .game-listing {
    padding: 10px;
    img {
      width: 200px;
      height: 220px;
      border-radius: 5%;
      border: 1px solid $white;
    }
    .game-title {
      font: {
        size: 1.2em;
      }
    }
    p {
      padding: 5px 0;
    }
    .btn-primary {
      background-color: $light-gray;
      color: $black;
      border: 2px solid $medium-gray;
      padding: 5px 10px;
      &:hover {
        background-color: $deep-blue;
        border: 2px solid $dark-blue;
      }
    }
  }
  #myCarousel {
    img {
      width: 100%;
    }
  }
  .carousel-inner {
    height: 350px;
  }
  .well {
    border: 1px solid $white;
    padding: 0;
    margin: 2px 10px;
    background-color: $medium-blue;
  }
}
