@import 'base';

.store {
  .search {
    background-color: $gray;
    height: 57px;
    text-align: center;
    color: $white;
    label {
      letter-spacing: 1px;
    }
    input {
      color: $gray;
    }
    label, input {
      display: inline-block;
      font-size: 1.8rem;
      position: relative;
      top: 12px;
    }
    .btn-primary {
      background-color: $medium-blue;
    }
  }
  .game-listing {
    padding: 10px;
    img {
      width: 100%;
    }
    .game-title {
      font: {
        size: 1.2em;
      }
    }
    p {
      padding: 5px 0;
    }
    .btn-primary {
      background-color: $medium-blue;
      color: $gray;
      border: 1px solid $dark-blue;
      padding: 5px 10px;
      &:hover {
        background-color: $deep-blue;
        color: $gray;
      }
    }
  }
  #myCarousel {
    img {
      width: 100%;
    }
  }
  .carousel-inner {
    height: 400px;
  }
}
