// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  .game-listing {
    img {
      width: 100%;
    }
    .game-title {
      font: {
        size: 1.2em;
      }
    }
    p {
      padding: 5px 0;
    }
  padding: 10px;
  }
  #myCarousel {
    img {
      width: 100%;
    }
  }
  .carousel-inner {
    height: 500px;
  }
}
