<div class="row">
  <div class="col-md-12">
    <ul>
    <% @games.each do |game| %>
      <li>
      <%= game.title %>
      <%#= image_tag "#{game.image1}" %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
